body, ul, li, p {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: Arial;
}

.inscrever{
	background: linear-gradient(90deg, #A70094, #e53fff,#d67cd4);
}


.formInscricao{
	background: #FFF;
	padding: 60px;
	width: min-content;
	height: 100vh;
	border-radius: 10px;
	margin: 0 auto;
	align-items: center;
}

.formLogin {
	background: #FFF;
	padding: 60px;
	width: min-content;
	margin: 0 auto;
}

.inputInscricao {
	border-radius: 14px;
	padding: 7px;
	border: 2px solid #eae9e5;
	margin: 0 0 5px -5px;
}

.button button{
	width: 100%;
	background: #A70094;
	border: none;
	height: 40px;
	color: #FFF;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}

.button1 button{
	width: 100%;
	background: #FFF;
	height: 40px;
	border: 2px solid #eae9e5;
	color: black;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
}

#button button:hover{
	background: #9c008a;
}

h1 {
	margin-bottom: 10%;
}

a {
	text-decoration: none;
	color: #FFF;
}

img {
	max-width: 100%;
	display: block;
	border-radius: 20px;
	border: solid;
}

header {
	background: #A70094;
	display: flex;
	flex-wrap: wrap;/*Atenção a esse ítem*/
	justify-content: space-between;
	padding: 20px;
	align-items: center;
}

.pesquisa {
	width: 680px;
}

.menu {
	display: flex;
}

.menu li{
	margin-left: 10px;
}

.menu li a{
	border: solid;
	padding: 10px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	max-width: 1080px;
	margin: 0 auto;
}

.flex > div {
	flex: 1 1 200px;
	margin: 10px;
}

#login{
	width: 780px;
	margin: 0 auto;
	height: 90vh;
	padding: 40px 10px;
}

.segundaColuna {
	background: #A70094;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 60px 20px;
	text-align: center;
	color: #FFF;
}